h1 {
    color:blue;
}

@media only screen and (max-width: 300px){
    [class*="col-"]{
         display: none;
    }
}

.grid
{
    margin:0 auto;
}

.row
{
   
    display: flex;
    flex-wrap: wrap;
}

.inline
{
    outline-color: black;
    outline-width: 1px;
    outline-style: inset;
}



/* column of every width between 1/12 and 12/12 */

.col-1
{
    padding: 1%;
    width: 6.33%;
}

.col-2
{
    padding: 1%;
    width: 14.66%;
}

.col-3
{
    padding: 1%;
    width: 22.99%;
}

.col-4
{
    padding: 1%;
    width: 31.32%;
}

.col-5
{
    padding: 1%;
    width: 39.65%;
}

.col-6
{
    padding: 1%;
    width: 47.98%;
}

.col-7
{
    padding: 1%;
    width: 56.31%;
}

.col-8
{
    padding: 1%;
    width: 64.64%;
}

.col-9
{
    padding: 1%;
    width: 72.97%;
}

.col-10
{
    padding: 1%;
    width: 81.3%;
}

.col-11
{
    padding: 1%;
    width: 89.63%;
}

.col-12
{
    padding: 1%;
    width: 98%;
}

